.app {
  display: grid;
  grid-template-columns: 1fr 0.25fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header header"
    "container sidebar";

  .container {
    grid-area: container;
    width: 100%;
    height: 93.5dvh;
  }
}
